form {
  display: flex;
  flex-direction: column;
  width: 40%;
  background-color: white;
  padding: 30px;
  border-radius: 0.375rem;
}

form input {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  background: #f2f2f2;
}